body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #f7eef1;
}

.banner-image {
    height: 250px;
}

.Nav {
    height: 20%;
    width: 100%;
}

.container {
    height: 80%;
    width: 100%;
}